@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

a{
    text-decoration: none;
    color: white;
}

.btn{
    background-image: linear-gradient(
        transparent 0%,
        transparent 90%,
        white 90%,
        white 100%
    );

    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;

    transition: background-size 300ms;
}

.btn:hover{
    background-size: 100% 100%;
    background-position-x: left;
}

.top {
    height: 1.25rem;
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: space-between;color: #F3F3F3;
    height: 2rem;
    padding: 0.25rem 3.25rem;
}


.selector{
    background: transparent;
    border: none!important;
    -o-: none;
    outline: none;
    font-size: 0.875rem;
    height: 1.875rem;
    padding: 0.3125rem;
    text-decoration: none;
    color: #F3F3F3;
}

.selector option{
    color: #222222;
}

.navbar{
    background-color: #F0A83E;
    height: 3.875rem;
    left: 0rem;
    top: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 1.4375rem;
    width: 10.3987rem;
    margin-left: 2.5rem;
}

.links{
    display: flex;
    list-style-image: url("svg/pawprint.svg");
    margin-right: 3.125rem;
    color: white;
}

.links li{
    margin: 0rem 1.25rem;
}



