@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

.top {
    height: 1em;
    background-color: #222222;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top {
    color: #F3F3F3;
}



.selector{
    background: transparent;
    border: none!important;
    -o-: none;
    outline: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    text-decoration: none;
    color: #F3F3F3;
}

.selector option{
    color: #222222;
}

.selectors{
    right: 5.07%;
}